body {
  background-image: url("../AI gogo/Photo/background4.png");
  background-repeat: no - repeat;
  background-attachment: fixed;
}
.bg-image1 {
  background-image: url("../AI gogo/Photo/background3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: cyberpunkTransition 2s ease-in-out;
}

.bg-image2 {
  background-image: url("../AI gogo/Photo/background4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: cyberpunkTransition 2s ease-in-out;
}

@keyframes cyberpunkTransition {
  0% {
    filter: hue-rotate(0deg); /* 色调旋转角度 */
    opacity: 1; /* 透明度 */
    transform: scale(1); /* 放大效果 */
  }

  30% {
    filter: hue-rotate(120deg);
    opacity: 0.5;
    transform: scale(1.2);
  }

  78% {
    filter: hue-rotate(200deg);
    opacity: 0.6;
    transform: scale(0.6);
  }
  100% {
    filter: hue-rotate(360deg);
    opacity: 1;
    transform: scale(1);
  }
}
